.player{
    width: 300px;
    display: flex;
    align-items: center;
    background-color: rgba(120, 120, 90, 0.8);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    span{
        font-size: 24px;
        margin-left: 14px;

    }
    img{
        height: 70px;
        width: 70px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    background-color: orange !important;
}