<app-player *ngFor="let player of game.players; let i = index;"
 class="player-position" [name]="player"
[ngStyle]="{'top.px': 100 + (90 * i)}"
[playerActive]="i == game.currentPlayer" ></app-player>

<div class="field">
    <div class="card-stack">
        <!-- Card stack -->
        <img *ngFor="let card of [0, 1, 2, 3, 4, 5]; let i = index;" [ngStyle]="{'right.px': i * 5}" 
        src="/assets/imgCards/card_cover.png" alt="">
        <img (click)="takeCard()"  class="top-card" style="right: 35px" src="/assets/imgCards/card_cover.png" alt="">

        <!-- Stack for played cards -->
        <img *ngFor="let card of game.playedCards"  src="/assets/imgCards/{{ card }}.png" class="played-card" alt="">

        <!-- Current card (Animation) -->
        <img (click)="takeCard()" *ngIf="pickCardAnimation"  class="pick-card" style="right: 35px" 
        src="/assets/imgCards/{{ currentCard }}.png" alt="">

    </div>
</div>
<app-game-info [card]="currentCard" class="pin-bottom"></app-game-info>
<button (click)="openDialog()" mat-fab color="primary" class="btn-add">
    <mat-icon>add</mat-icon>
</button>