.player{
    width: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(120, 120, 90, 0.8);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 8px;
    span{
        font-size: 16px;

    }
    img{
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    background-color: orange !important;
}