body {
    margin: 0;
}

body, html {
    overflow: hidden;
}

.d-none {
    display: none !important;
}

@media (max-width:720px){
    .hide-mobile{
        display: none !important;
    }
}

@media (min-width:720px){
    .hide-desktop{
        display: none !important;
    }
}

@keyframes drawBorder {
    0% {
        border-top: 4px solid transparent;
    }

    25% {
        border-top: 4px solid rgb(85, 10, 40);
    }

    50% {
        border-top: 4px solid rgb(85, 10, 40);
        border-right: 4px solid rgb(85, 10, 40);
    }

    75% {
        border-top: 4px solid rgb(85, 10, 40);
        border-right: 4px solid rgb(85, 10, 40);
        border-bottom: 4px solid rgb(85, 10, 40);
    }

    100% {
        border-top: 4px solid rgb(85, 10, 40);
        border-right: 4px solid rgb(85, 10, 40);
        border-bottom: 4px solid rgb(85, 10, 40);
        border-left: 4px solid rgb(85, 10, 40);
    }
}




/* berkshire-swash-regular - latin */
@font-face {
    font-family: 'Berkshire Swash';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/berkshire-swash-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/berkshire-swash-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/berkshire-swash-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/berkshire-swash-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/berkshire-swash-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/berkshire-swash-v16-latin-regular.svg#BerkshireSwash') format('svg'); /* Legacy iOS */
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
